<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.DiagnosticSource" />
  </extensions>

  <variable name="DirectoryLogs" value="D:\.tmp\logs" />
  <variable name="DefaultLayout"
      value="${longdate} ${level:uppercase=true} ${activity:property=TraceId} ${logger:shortName=true} ${message} ${exception:format=tostring}"
  />

  <!-- In next file you can rewrite variables or add some option -->
  <include file="NLog.local.config" ignoreErrors="true"/>

  <targets>
    <target name="file" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${DirectoryLogs}\fireblocks\${shortdate}.txt"
        keepFileOpen="false"
        encoding="utf-8" />
    <target name="file-aspnetcore" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${DirectoryLogs}\fireblocks\${shortdate}.aspnetcore.txt"
        keepFileOpen="false"
        encoding="utf-8" />
    <target name="file-ef" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${DirectoryLogs}\fireblocks\${shortdate}.ef.txt"
        keepFileOpen="false"
        encoding="utf-8" />
    <target name="file-scheduler" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${DirectoryLogs}\fireblocks\${shortdate}.scheduler.txt"
        keepFileOpen="false"
        encoding="utf-8" />
    <target name="file-http" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${DirectoryLogs}\fireblocks\${shortdate}.http.txt"
        keepFileOpen="false"
        encoding="utf-8" />
  </targets>

  <rules>
    <logger name="Microsoft.AspNetCore.*" minlevel="Debug" writeTo="file-aspnetcore" final="true"  />

    <!--blackhole-->
    <logger name="Microsoft.AspNetCore.*" minlevel="Trace" final="true"  />
    <logger name="Microsoft.Extensions.*" maxlevel="Debug" final="true"  />
    <logger name="*.DefaultHealthCheckService" minlevel="Trace" final="true"  />
    <logger name="*.ClientHandler" minlevel="Trace" final="true"  />
    <logger name="Quartz*" maxlevel="Debug" final="true" />
    <logger name="*.LogicalHandler" minlevel="Trace" final="true" />
    <logger name="Hangfire.*" minlevel="Trace" maxlevel="Trace" final="true" />
    <!--/blackhole-->

    <!-- EF -->
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Debug" writeTo="file-ef" final="true"  />
    <!-- /EF -->

    <!-- Scheduler -->
    <logger name="Quartz*" minlevel="Info" writeTo="file-scheduler" final="true" />
    <logger name="*.Jobs.*" minlevel="Info" writeTo="file-scheduler" final="true" />
    <logger name="Hangfire.*" minlevel="Debug" writeTo="file-scheduler" final="true" />
    <!-- /Scheduler -->

    <!-- HTTP -->
    <logger name="*.LogMessageHandler" minlevel="Info" writeTo="file-http" final="true" />
    <!-- /HTTP -->

    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
